@model iUni_Workshop.Models.EmployerModels.ViewApplicantCv

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
@Html.DisplayNameFor(model => model.Title) 
@Html.DisplayFor(model =>model.Title)
@Html.DisplayNameFor(model => model.Description)
@Html.DisplayFor(model => model.Description)
@Html.DisplayNameFor(model => model.EmployeeName)
@Html.DisplayFor(model => model.EmployeeName)
<form method="post" asp-action="SendInvitation">
    <button type="submit">Send invitation</button>
</form>