@using iUni_Workshop.Models.MessageModels
@using Microsoft.AspNetCore.Http
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.Internal
@model iUni_Workshop.Models.EmployerModels.MessageDetail


@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@await Html.PartialAsync("Shared/_Validation_Area_From_Backend")
<h2>title</h2>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Messages.First().SenderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Messages.First().SentTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Messages.First().Detail)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @{
        if (@Model.Messages!=null)
        {
            foreach (var message in Model.Messages)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => message.SenderName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => message.SentTime)
                    </td>
                    <td>
                        @Html.DisplayFor(model => message.Detail)
                    </td>
                </tr>
            }
        }
    }
    @{
        if(@Model.Type != MessageType.System)
        {
            <form asp-controller="Message" asp-action="SendMessage" method="post">
                <textarea name = "MessageDetail"></textarea>
                <input type = "text" name="ConversationId" value="@Model.ConversationId" hidden>
                @{
                    if (Model.InvitationId == null)
                    {
                        Model.InvitationId = 0;
                    }
                }
                <input type = "number" name="InvitationId" value="@Model.InvitationId" hidden>
                <button type="submit" >Post</button>
            </form>
        }
        else
        {
            <p>This is system message cannot reply</p>
        }
    }
        

    <tr>

        <td></td>
    </tr>

    </tbody>

</table>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

