@using iUni_Workshop.Models.AdministratorModels
@using iUni_Workshop.Models.JobRelatedModels
@model IEnumerable<UpdateField>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/admin.css"/>

@await Html.PartialAsync("Shared/_Validation_Area_From_Backend")


<div id="addf">
    
    <h2>Add Field</h2>
    <form method="post" asp-action="AddFieldAction">
        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input type="text" name="Id">
                </td>
                <td>
                    <input type="text" name="Name">
                </td>
                <td>
                    <select name="Status">
                        <option value="@FieldStatus.InUse" selected="selected">In Use</option>
                        <option value="@FieldStatus.InRequest">In Request</option>
                        <option value="@FieldStatus.NoLongerUsed">No Longer Used</option>
                    </select>
                </td>
            </tr>
            </tbody>

        </table>
        <button type="submit" id="btn4">Confirm</button>
    </form>
    @{
        var inUse = new List<UpdateField>();
        var inReq = new List<UpdateField>();
        var baned = new List<UpdateField>();
        foreach (var model in Model)
        {
            switch (model.Status)
            {
                case FieldStatus.InUse:
                    inUse.Add(model);
                    break;
                case FieldStatus.InRequest:
                    inReq.Add(model);
                    break;
                case FieldStatus.NoLongerUsed:
                    baned.Add(model);
                    break;
            }
        }
    }

    <p>In use field</p>
    @{
        foreach (var use in inUse)
        {
            <form asp-action="UpdateFieldAction" method="post">
                <div class="row">
                    <div class="col-md-3">
                        <input type="text" name="Name" value="@use.Name">
                    </div>
                    <div class="col-md-4">
                        <select name="Status">
                            <option value="@FieldStatus.InUse" selected="selected">In Use</option>
                            <option value="@FieldStatus.InRequest">In Request</option>
                            <option value="@FieldStatus.NoLongerUsed">No Longer Used</option>
                        </select>
                        <button class="btn1" type="submit" name="Id" value="@use.Id">Update</button>
                    </div>
                </div>
            </form>
        }
    }
    <p>In request</p>
    @{
        foreach (var use in inReq)
        {
            <form asp-action="UpdateFieldAction" method="post">
                <div class="row">
                    <div class="col-md-3">
                        <input type="text" name="Name" value="@use.Name">
                    </div>
                    <div class="col-md-4">
                        <select name="Status">
                            <option value="@FieldStatus.InUse">In Use</option>
                            <option value="@FieldStatus.InRequest" selected="selected">In Request</option>
                            <option value="@FieldStatus.NoLongerUsed">No Longer Used</option>
                        </select>
                        <button class="btn1" type="submit" name="Id" value="@use.Id">Change Status</button>
                    </div>
                </div>
            </form>
        }
    }
    <p>No longer used</p>
    @{
        foreach (var use in baned)
        {
            <form asp-action="UpdateFieldAction" method="post">
                <div class="row">
                    <div class="col-md-3">
                        <input type="text" name="Name" value="@use.Name">
                    </div>
                    <div class="col-md-4">
                        <select name="Status">
                            <option value="@FieldStatus.InUse">In Use</option>
                            <option value="@FieldStatus.InRequest">In Request</option>
                            <option value="@FieldStatus.NoLongerUsed" selected="selected">No Longer Used</option>
                        </select>
                        <button class="btn1" type="submit" name="Id" value="@use.Id">Change Status</button>
                    </div>
                </div>
            </form>
        }
    }

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }

</div>
