@using iUni_Workshop.Models.AdministratorModels
@using iUni_Workshop.Models.JobRelatedModels
@model IEnumerable<iUni_Workshop.Models.AdministratorModels.AddSkill>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
<form method="post" asp-action="AddSkillAction">
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <input type="text" name="Name">
            </td>
        </tr>
        </tbody>

    </table>
    <button type="submit" class="btn btn-sm btn-success">Confirm</button>
</form>

@{
    var inUse = new List<AddSkill>();
    var inReq = new List<AddSkill>();
    var baned = new List<AddSkill>();
    foreach (var model in Model)
    {
        switch (model.Status)
        {
            case FieldStatus.InUse:
                inUse.Add(model);
                break;
            case FieldStatus.InRequest:
                inReq.Add(model);
                break;
            case FieldStatus.NoLongerUsed:
                baned.Add(model);
                break;
        }
    }
}


<p>In use field</p>
@{
    foreach (var use in inUse)
    {
        <form asp-action="UpdateSkillAction" method="post">
            <input type="text" name="Name" value="@use.Name">
            <select name="Status">
                <option value="@FieldStatus.InUse" selected="selected">In Use</option>
                <option value="@FieldStatus.InRequest">In Request</option>
                <option value="@FieldStatus.NoLongerUsed">No Longer Used</option>
            </select>
            <button type="submit" name = "Id" value="@use.Id"></button>
        </form>
    }
}
<p>In request</p>
@{
    foreach (var use in inReq)
    {
        <form asp-action="UpdateSkillAction" method="post">
            <input type="text" name="Name" value="@use.Name">
            <select name="Status">
                <option value="@FieldStatus.InUse">In Use</option>
                <option value="@FieldStatus.InRequest"  selected="selected">In Request</option>
                <option value="@FieldStatus.NoLongerUsed">No Longer Used</option>
            </select>
            <button type="submit" name = "Id" value="@use.Id"></button>
        </form>
    }
}
<p>No longer used</p>
@{
    foreach (var use in baned)
    {
        <form asp-action="UpdateSkillAction" method="post">
            <input type="text" name="Name" value="@use.Name">
            <select name="Status">
                <option value="@FieldStatus.InUse">In Use</option>
                <option value="@FieldStatus.InRequest" >In Request</option>
                <option value="@FieldStatus.NoLongerUsed" selected="selected">No Longer Used</option>
            </select>
            <button type="submit" name = "Id" value="@use.Id"></button>
        </form>
    }
}








@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

