@model IEnumerable<iUni_Workshop.Models.AdministratorModels.MessageDetail>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SenderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SentTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detail)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @{
                foreach (var message in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => message.SenderName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => message.SentTime)
                        </td>
                        <td>
                            @Html.DisplayFor(model => message.Detail)
                        </td>
                    </tr>
                }
            }
            <form asp-controller="Administrator" asp-action="ReplyMyMessage" method="post">
                <textarea name = "MessageDetail"></textarea>
                <button type="submit" value = "@Model.First().ConversationId" name="ConversationId">Post</button>
            </form>

            <tr>

                <td></td>
            </tr>

        </tbody>

    </table>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
