@model IEnumerable<iUni_Workshop.Models.EmployeeModels.MyCvs>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/mdetails.css"/>

<style>
    #mcv #new {
        margin-bottom: 30px;
        border: 0px;
    }
    
    #mcv a {
        background-color: white;
        color: #ff4000;
        padding: 5px;
        border: 1.5px solid #ff4000;
        font-weight: bold;
        font-size: 12px;
        text-decoration: none;
    }
</style>

@await Html.PartialAsync("Shared/_Validation_Area_From_Backend")


<div id="mcv">
    <h2>My CV's</h2>
    
    <button id="new"><a asp-controller="Employee" asp-action="EditCv" >Create a new CV</a></button>
    
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CvId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CvTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FieldName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FindJobStatus)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CvId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CvTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FieldName)
                    </td>
                    <td>
                        @{
                            if (item.FindJobStatus)
                            {
                                <p>Finding job</p>
                            }
                            else
                            {
                                <p>Pause</p>
                            }
                        }
                    </td>
                    <td>
                        <form asp-controller="Employee" asp-action="EditCv" asp-route-CvId="@item.CvId" method="get">
                            <button name="CvId" type="submit" value="@item.CvId" id="btn">View</button>
                        </form>

                    </td>
                </tr>
                
            }
        }

        </tbody>
    </table>
    

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }

</div>
